.container {
  /* width: 1;
    height: 433px; */
  margin: 0 auto;
  border: 1px solid #d8dee4;
  background-color: white;
  border-radius: 8px;
}
.containerdetails {
  /* width: 1;
    height: 433px; */
  margin: 0 auto;
  border: none;
  background-color: white;
  border-radius: 8px;
}

/* .conten{
    /* padding-left: 24px;
    padding-right: 24px; */
